* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #050505;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?p4ssmb');
    src: url('../fonts/icomoon.eot?p4ssmb#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?p4ssmb') format('truetype'), url('../fonts/icomoon.woff?p4ssmb') format('woff'), url('../fonts/icomoon.svg?p4ssmb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: #f3f5f7;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: 0 auto;
}